:root {
  --text-color: #3a4650;
  --background-color: #ffffff;
  --list-background-nth-child: #ffffff;
  --heading-color: #808e9a;
  --sidebar-color: #0078e2;
  --sidebar-glyphicon-color: #cee8ff;
  --button-default-border-color: #e5e5e5;
  --button-default-text-color: #808e9a;
  --button-primary-border-color: #0078e2;
  --button-primary-background-color: #0078e2;
  --button-primary-text-color: #ffffff;
  --mx-link-color: #3a4650;
  --form-background-color: #ffffff;
  --form-border-color: #e5e5e5;
  --form-text-color: #3a4650;
  --card-background-color: #ffffff;
  --card-dropshadow-color: #0078e226;
  --card-progress-state1-background: #eceef0;
  --card-progress-state1-border: #eceef0;
  --card-progress-state2-background: #0078e2;
  --card-progress-state2-border: #0078e2;
  --card-progress-state3-background: #ff7f32;
  --card-progress-state3-border: #ff7f32;
  --top-bar-background-color: #ffffff;
  --top-bar-url: url("/img/MyFirstModule$Images$objectivity_logo.svg") no-repeat;
  --scrollbar-track-color: #e5e5e5;
  --scrollbar-thumb-color: #0078e2;
  --topbar-shadow-color: #0078e226;
  --region-content-color: #ffffff;
  --header-sort-container-color: #0078e2;
  --header-sort-container-border-color: #0078e2;
  --chart-background-color: #ffffff;
  --chart-border-stroke-color: #9b9b9b;
  --chart-fill-color: #252525;
  --sidebar-background-color: #557a97;
}

.theme-dark {
  --text-color: #999;
  --background-color: #222222;
  --list-background-nth-child: #111;
  --heading-color: #999;
  --sidebar-color: #111;
  --sidebar-glyphicon-color: #999;
  --button-border-color: #e5e5e5;
  --button-text-color: #808e9a;
  --mx-link-color: #999;
  --form-background-color: #111;
  --form-border-color: #111;
  --form-text-color: #999;
  --card-background-color: #222222;
  --card-dropshadow-color: #0078e226;
  --card-progress-state1-background: #111;
  --card-progress-state1-border: #444;
  --card-progress-state2-background: #111;
  --card-progress-state2-border: #444;
  --card-progress-state3-background: #111;
  --card-progress-state3-border: #444;
  --top-bar-background-color: #222222;
  --top-bar-url: url("/img/MyFirstModule$Images$objectivity_logo_white.svg") no-repeat;
  --scrollbar-track-color: #555555;
  --scrollbar-thumb-color: #222222;
  --topbar-shadow-color: #0078e226;
  --region-content-color: #333333;
  --header-sort-container-color: #999;
  --header-sort-container-border-color: #999;
  --chart-background-color: transparent;
  --chart-border-stroke-color: #444;
  --chart-fill-color: #999;
  --sidebar-background-color: #222222;
}

::selection {
  background-color: #0078e2;
  color: #ffffff;
}

a {
  color: var(--text-color);
}

.mx-listview .mx-listview-list .mx-listview-item {
  border-width: 0 0 1px;
  padding: 15px 0;
}

.mx-listview .mx-listview-list .mx-listview-item:hover, .mx-listview .mx-listview-list .mx-listview-item:focus, .mx-listview .mx-listview-list .mx-listview-item:active, .mx-listview .mx-listview-list .mx-listview-item.selected {
  background-color: transparent;
}

.mx-listview .mx-listview-list > .mx-listview-loading {
  display: none;
}

.mx-listview .mx-listview-list .mx-listview-empty {
  padding: 15px 0;
}

.mx-listview > .mx-button .glyphicon {
  display: none;
}

.mx-listview .mx-listview-item {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 0;
  padding: 15px;
}

.mx-listview .mx-listview-item:nth-child(even) {
  background-color: var(--list-background-nth-child);
}

.mx-listview .mx-listview-item:nth-child(odd) {
  background-color: var(--background-color);
}

.theme-dark .mx-listview > .mx-button {
  background-color: #0078e2;
  border-color: #0078e2;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--heading-color);
  letter-spacing: -.2px;
}

.region-sidebar .mx-navigationtree .navbar-inner > ul > li > a {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.region-sidebar .mx-navigationtree .navbar-inner > ul > li > a .glyphicon {
  font-size: 19px;
}

.region-sidebar .mx-navigationtree .navbar-inner > ul > li a:hover,
.region-sidebar .mx-navigationtree .navbar-inner > ul > li a:focus,
.region-sidebar .mx-navigationtree .navbar-inner > ul > li a.active {
  color: #ffffff;
  background-color: transparent;
}

.region-sidebar .mx-navigationtree .navbar-inner > ul > li a.active {
  color: #ffffff;
  border-left-color: transparent;
  background-color: transparent;
}

.region-sidebar .mx-navigationtree {
  background-color: var(--sidebar-color);
}

.region-sidebar .mx-navigationtree .navbar-inner > ul > li > a .glyphicon {
  color: var(--sidebar-glyphicon-color);
}

.btn,
.mx-button {
  font-weight: bold;
  padding: 8px 16px;
}

.btn,
.btn-default {
  border-color: var(--button-default-border-color);
  color: var(--button-default-text-color);
}

.btn-primary {
  background-color: var(--button-primary-background-color);
  border-color: var(--button-primary-border-color);
  color: var(--button-primary-text-color);
}

.mx-link {
  color: var(--mx-link-color);
}

.mx-link a {
  color: inherit;
}

.form-control {
  background-color: var(--form-background-color);
  border-color: var(--form-border-color);
  color: var(--form-text-color);
}

.form-control:focus {
  border-color: #0078e2;
}

.card {
  border: 0;
  border-radius: 6px;
}

.cardprogress .cardprogress-state img {
  margin-right: 0;
  margin-top: -4px;
}

.card {
  background-color: var(--card-background-color);
  box-shadow: 0 0 30px 0 var(--card-dropshadow-color);
}

.cardprogress .cardprogress-state.state-1 {
  background-color: var(--card-progress-state1-background);
  border-color: var(--card-progress-state1-border);
}

.cardprogress .cardprogress-state.state-1 img {
  width: 20px;
  height: 24px;
}

.cardprogress .cardprogress-state.state-2 {
  background-color: var(--card-progress-state2-background);
  border-color: var(--card-progress-state2-border);
}

.cardprogress .cardprogress-state.state-2 img {
  width: 24px;
  height: 22px;
}

.cardprogress .cardprogress-state.state-3 {
  background-color: var(--card-progress-state3-background);
  border-color: var(--card-progress-state3-border);
}

.cardprogress .cardprogress-state.state-3 img {
  width: 24px;
  height: 27px;
}

.pageheader {
  background: transparent;
  border-bottom: 0;
}

.layout-atlas .region-topbar {
  background: var(--top-bar-background-color);
  border: 0;
}

.layout-atlas .region-topbar::before {
  display: none;
}

.layout-atlas .region-topbar .topbar-content {
  justify-content: space-between;
  padding: 0 15px;
}

.layout-atlas .region-topbar .navbar-brand {
  margin-top: -5px;
  width: 160px;
  height: 35px;
}

.layout-atlas .region-topbar .toggle-btn {
  font-size: 19px;
  margin-right: 0;
  padding: 5px;
}

.layout-atlas .region-sidebar {
  background-color: var(--sidebar-background-color);
}

.region-topbar {
  background-color: var(--top-bar-background-color);
}

.region-topbar .navbar-brand {
  background: var(--top-bar-url);
}

.region-content ::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

.region-content ::-webkit-scrollbar {
  background-color: var(--scrollbar-track-color);
  width: 15px;
}

.region-content ::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

.region-sidebar {
  background-color: var(--sidebar-color);
}

.region-topbar {
  box-shadow: 0 2px 30px 0 var(--topbar-shadow-color);
}

.region-content {
  background-color: var(--region-content-color);
}

.layout-atlas-responsive-default .region-sidebar .toggle-btn {
  color: #ffffff;
  font-size: 19px;
  height: 80px;
}

.layout-atlas-responsive-default .region-sidebar .mx-scrollcontainer-wrapper > .mx-navigationtree .navbar-inner > ul > li > a.active .glyphicon {
  background: transparent;
}

.header-sort-container {
  border-bottom: 2px solid var(--header-sort-container-border-color);
}

.header-sort-container .widget-header-sort .sort-header {
  color: var(--header-sort-container-color);
  padding: 12px 0;
}

.widget-charts .svg-container > .main-svg:not(:last-child) {
  background: var(--chart-background-color) !important;
}

.widget-charts .svg-container .gridlayer .x .crisp,
.widget-charts .svg-container .gridlayer .y .crisp {
  stroke: var(--chart-border-stroke-color) !important;
}

.widget-charts .svg-container .zerolinelayer .crisp {
  stroke:var(--chart-border-stroke-color) !important;
}

.widget-charts .svg-container text {
  fill: var(--chart-fill-color) !important;
}